<div class='margin-top-10'>
  <p class='lead text-center margin-top-10'>
    This chart shows the distribution of connections based on email quantity exchanged.
  </p>
</div>
<div id='chart-vis'>
  <div id='chart-loading-placeholder'>
    </p><em>Loading, please be patient...</em></p>
    <%= image_tag 'loading.gif', width: 60, height: 60 %>
  </div>
</div>