<p id='graph-for' class='lead text-center' data-uri-for-graph='<%= @presenter.resource_uri %>'>
  Visual representation of weighted connections for <%= @presenter.title %>
</p>
<p class='small' id='graph-legend'>
  This graph shows connections for this Person. Their connections have been ranked, and the connections with the smallest number of exchanged emails discarded below a set threshold. At each step from the Person that generated this graph, this threshold is increased, so that only comparatively more important connections (in terms of emails exchanged) are visualised as links from People (nodes) that are further removed from the Person that generated this graph. The thickness of edges is indicative of the number of emails exchanged.
  <br>
  NB: as these are weighted connections, they can be created by either an incoming or outgoing edge to a node; the 'Links' property is thus the weighting in terms of raw edges.
</p>
<div id='graph-vis'>
  <div id='graph-loading-placeholder'>
    </p><em>Loading, please be patient...</em></p>
    <%= image_tag 'loading.gif', width: 60, height: 60 %>
  </div>
</div>