<div class='row no-margins'>
  <div class='col-md-4'>
    <h1 class='text-center'>
      <%= yield(:title) %>
      <small>
        <%= inline_edit_link_for(@presenter.resource_uri) if @presenter && @presenter.respond_to?(:resource_uri) && :title_editable %>
      </small>
    </h1>
  </div>
  <div class='col-md-8'>
    <!-- The page header is in the search bar partial -->
  </div>
</div>