<div class='row no-margins'>
  <div class='col-md-6 col-md-offset-3'>
    <p class='lead text-center margin-top-50'>This panel shows information gleaned from the data using keyword analysis and SNA measures. More detailed information on each is below.</p>

    <!-- First section: subject area stuff from keywords -->
    <h3>Keyword Analysis</h3>

    <h4 class='margin-top-30'>Subject Area</h4>

    <p>The most common subject areas for members of this organisation are <strong><%= @presenter.common_subject_areas_sentence %></strong>.</p>
    <hr>

    <p>The most common keywords for members of this organisation are <strong><%= @presenter.common_keywords_sentence %></strong>.</p>
    <hr>

    <!-- Second section: Location and Sector  -->
    <h3>Location and Sector</h3>
    <p>Provided you have tagged the location and sector of organisations in the system, we can give some high-level information about your connections.</p>
    <hr>

    <!-- Third section: SNA stuff here  -->
    <h3>SNA Analysis</h3>
    <p>Although this is no replacement for a full SNA study, some things can be calculated about your network from just the data available to ArtsAPI. A breakdown of these things follow.</p>
    <hr>

    <!-- Fourth section: generate report based on all data -->
    <h3>Generate Report</h3>
    <p>Coming soon!</p>
  </div>
</div>