<p id='organisation-graph-for' class='lead text-center' data-uri-for-graph='<%= @presenter.resource_uri %>'>
  Visual representation of organisational links for <%= @presenter.title %>
</p>
<p class='small' id='graph-legend'>
  This graph shows all organisational links and the members of those organisations. Where connections exist between people in the graph, they are shown as bold edges. The connection to the organisation they are a member of is expressed as a light edge. Due to the size of the data, this visualisation may take some time to settle into a stable shape, and is best viewed in a modern browser.
</p>

<div id='graph-vis'>
  <div id='graph-loading-placeholder'>
    </p><em>Loading, please be patient...</em></p>
    <%= image_tag 'loading.gif', width: 60, height: 60 %>
  </div>
</div>