<p id='organisation-graph-for' class='lead text-center' data-uri-for-graph='<%= @presenter.resource_uri %>'>
  Visual representation of organisational links for <span class='resource-label'><%= @presenter.title %></span class='resource-label'>
</p>
<p class='small' id='graph-legend'>
  This graph shows all organisational links and the members of those organisations. Where connections exist between people in the graph, they are shown as bold edges. The connection to the organisation they are a member of is expressed as a light edge. Due to the size of the data, this visualisation may take some time to settle into a stable shape, and is best viewed in a modern browser.
  <br>
  NB: A great deal of data is trimmed to make this possible to show on a normal-sized monitor and web browser - thus sometimes the weight of a node (connections) will be greater than the number of visible links, if some of the connections were with nodes that are not visualised as part of this graph.
</p>

<div id='graph-vis'>
  <div id='graph-loading-placeholder'>
    </p><em>Loading, please be patient...</em></p>
    <%= image_tag 'loading.gif', width: 60, height: 60 %>
  </div>
</div>