<div id='organisation-summary'>
  <blockquote>
    <ul class="list-inline">
      <li><p><%= @presenter.number_of_members %> Members</p></li>
      <li><p><%= @presenter.linked_organisations_text %></p></li>
    </ul>
  </blockquote>
</div>