<% provide :title, 'Home' %>

<div class='row no-margins'>
  <div class='col-md-6 col-md-offset-3'>
    <h3>Welcome to ArtsAPI: Getting Started</h3>
    <p>If you're new to ArtsAPI, getting started is simple - just follow the steps below.</p>
    <hr>

    <h4>Data uploading</h4>
    <div class= 'row no-margins'>
      <div class='imagination-font orange-yellow font-3em col-md-1'>1.</div>
      <div class='col-md-11'>
        <p>If you've already uploaded and processed all your organisation's data, then you can start browsing right away!</p>
        <p>Otherwise, you'll want to start by <%= link_to 'uploading your data', uploads_path %>.</p>
      </div>
    </div>
    <hr>

    <h4>Data tagging</h4>
    <div class= 'row no-margins'>
      <div class='imagination-font orange-yellow font-3em col-md-1'>2.</div>
      <div class='col-md-11'>
        <p>To use all the functionality for locations and industry sector, you will need to tag organisations in the system with that data. <%= link_to 'Click here to get started', collection_tagging_path(type: "organisation") %>.</p>
        <p>You can also bulk-edit people to add human readable names or correct mistakes. To do that, <%= link_to 'click here', collection_tagging_path(type: "person") %>.</p>
      </div>
    </div>
    <hr>

    <h4>Data processing</h4>
    <div class= 'row no-margins'>
      <div class='imagination-font orange-yellow font-3em col-md-1'>3.</div>
      <div class='col-md-11 process-all'>
        <p>If all the data from your organisation has already been uploaded into the system, then you can click the button below to run the initial analysis required to view your data in the ArtsAPI tool. Please note, this will take some time, so you may want to leave it running over a lunch break or overnight.</p>
        <%= process_data_button %>
      </div>
    </div>
    <hr>

    <p>If you have any further questions, please consult the user guides.</p>
  </div>
</div>

<script type="text/javascript">
  $('.process-all form.button_to').bind('ajax:success', function() {
    alert('Data processing queued, please come back later.');
  });
</script>