/* 
----------------------------------------
  FONTS
----------------------------------------
*/

@font-face {
  font-family: 'imagination_stationregular';
  src: url(font-path('imagination_station-webfont.eot'));
  src: url(font-path('imagination_station-webfont.eot') + '?#iefix') format('embedded-opentype'),
    url(font-path('imagination_station-webfont.woff')) format('woff'),
    url(font-path('imagination_station-webfont.ttf')) format('truetype'),
    url(font-path('imagination_station-webfont.svg') + '#imagination_stationregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* 
----------------------------------------
  COLOURS
----------------------------------------
*/

$dark-red: #BF202F;
$light-red: #EE4136;
$orange: #F15B2A;
$orange-yellow: #F79323;
$green: #2CB673;
$blue-green: #07A69C;
$purple: #652EBD;

/* 
----------------------------------------
  LAYOUT
----------------------------------------
*/

body {
  margin-top:20px;
  padding:10px;

  img {

    &#main-logo {
      display:block;
      margin:0 auto;
      margin-top:5px;
    }
  }
}

.width-50 {
  width:50% !important;
}

.width-100-px {
  width:100px !important;
}

.width-200-px {
  width:200px !important;
}

.margin-top-300 {
  margin-top:300px;
}

.margin-top-200 {
  margin-top:200px;
}

.margin-top-100 {
  margin-top:100px;
}

.margin-top-50 {
  margin-top:50px;
}

.margin-top-30 {
  margin-top:30px;
}

.margin-top-minus-15 {
  margin-top:-15px;
}

.margin-top-10 {
  margin-top:10px;
}

.margin-top-5 {
  margin-top:5px;
}

.margin-bottom-8 {
  margin-bottom:8px;
}

.margin-bottom-5 {
  margin-bottom:5px;
}

.padding-top-58 {
  padding-top:58px;
}

.padding-top-50 {
  padding-top:50px;
}

.padding-top-38 {
  padding-top:38px;
}

.padding-top-35 {
  padding-top:35px;
}

.padding-top-30 {
  padding-top:30px;
}

.padding-top-20 {
  padding-top:20px;
}

.padding-left-10 {
  padding-left:10px;
}

.padding-left-5 {
  padding-left:5px;
}

.padding-bottom-5 {
  padding-bottom:5px;
}

.padding-bottom-2 {
  padding-bottom:2px;
}

/* 
----------------------------------------
  CONTAINERS
----------------------------------------
*/

.container-fluid {

  .tab-content {
    #graph, #data, #keywords, #connections {
      padding-top:20px;
      border:1px solid #DDD;
      border-top:0px;
    }
  }

  div.no-margins {
    margin:0;
  }

  p {
    &#graph-legend {
      margin:0 auto;
      width:50%;
      text-align:justify;
    }
  }

  div {
    &#graph-loading-placeholder {
      width:180px;
      margin:40px auto 20px auto;
      p {
        color:$orange;
        text-align:center;
      }
      img {
        display:block;
        margin:0 auto;
      }
    }

    &#chart-loading-placeholder {
      width:180px;
      margin:40px auto 20px auto;
      p {
        color:$orange;
        text-align:center;
      }
      img {
        display:block;
        margin:0 auto;
      }
    }

    &.search-bar {
      background:rgb(252,252,253);
      border-bottom: 3px solid #999;
      padding:20px;
      margin:-30px -25px 60px -25px;

      form.search-form {
        padding-top:0px;
        padding-right:0px;
        margin-right:0px;
        clear:right;
        float:right
      }

      .btn-group {
        padding-top:0px;
        float:right;
      }

      p {
        clear:both;
        float:right;
      }
    }

    &.background-dark {
      background:#3B3B3B;
    }

    &.background-orange {
      background:$orange;
      color:#FAFAFA !important;
    }

    &.background-blue {
      background:$blue-green;
      color:#FAFAFA !important;
    }

    &.background-green {
      background:$green;
      color:#FAFAFA !important;
    }

    &.background-light-red {
      background:$light-red;
      color:#FAFAFA !important;
    }

    &.background-orange-yellow {
      background:$orange-yellow;
      color:#FAFAFA !important;
    }

    &.height-220-px {
      height:220px;
    }

    &.height-300-px {
      height:300px;
    }
  }

}

/* 
----------------------------------------
  URI
----------------------------------------
*/

div#resource_uri {
  display:none;
}


/* 
----------------------------------------
  NOTICES
----------------------------------------
*/

p#connections-notice {
  font-size:0.8em;
  color:#666;
}

/* 
----------------------------------------
  GRAPH VIS
----------------------------------------
*/

#graph-vis {
  max-width:100%;
  margin:0 auto;
}

.node {
  stroke:#fff;
  stroke-width:1.5px;
}

.link {
  stroke:#999;
  stroke-opacity:.6;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

/* 
----------------------------------------
  CHART VIS
----------------------------------------
*/

.axis path,
.axis line {
  fill:none;
  stroke:#222;
  shape-rendering: crispEdges;
}

.line {
  fill:none;
  stroke:$orange;
  stroke-width:1.5px;
}

/* 
----------------------------------------
  FONTS AND TEXT
----------------------------------------
*/

.imagination-font {
  font-family:'imagination_stationregular', helvetica, sans-serif;
}

.font-3em {
  font-size:3em;
}

.light-red {
  color:$light-red;
}

.orange-yellow {
  color:$orange-yellow;
}

.blue-green {
  color:$blue-green;
}

.dark-red {
  color:$dark-red;
}

.orange {
  color:$orange;
}

.mid-grey {
  color:#555;
}

/* 
----------------------------------------
  LISTS
----------------------------------------
*/

ul {
  li {
    &.organisation-row {
      padding:10px;
    }

    &.person-row {
      padding:10px;
      form {
        &.person-update-form {
          margin:0 auto;
        }
      }
    }

    &.li-dark {
      background-color:#999;
    }

    &.mid-light {
      background-color:rgb(240,240,240);
    }

    &.li-light {
      background-color:#FAFAFA;
    }
  }
}

ol {
  &.columns-2 {
    columns:2;
    -webkit-columns:2;
    -moz-columns:2;
  }
}

/* 
----------------------------------------
  LINKS
----------------------------------------
*/

a {
  &.small-edit-link {
    small {
      font-size:50%;
    }
    &:hover {
      text-decoration:none !important;
      color:$orange-yellow !important;
      small {
        color:$orange-yellow !important;
      }
    }
  }
}

/* 
----------------------------------------
  FOOTER
----------------------------------------
*/

footer {
  height:200px;
  background-color:#666;
  margin-left:-10px;
  margin-right:-10px;
  margin-bottom:-10px;

  a {
    &.dark-background {
      color:#FAFAFA;
    }
    &.dark-background:hover {
      color:$orange-yellow;
    }
  }

  // &.footer {
  //   position:absolute;
  //   bottom:0;
  //   width:100%;
  //   /* Set the fixed height of the footer here */
  //   height:200px;
  //   //background-color: #f5f5f5;
  // }
}

