<p>You have not yet linked your Dropbox account, please click below to do so.</p>
<%= link_to image_tag("upload_white.png", width: 40, height: 40, class: 'margin-bottom-5') + ' Authorize Dropbox', authorize_dropbox_path, class: 'btn btn-lg btn-primary' %>