<% provide :title, 'Upload' %>

<div class='row no-margins'>
  <div class='col-md-8 col-md-offset-2'>
    <h3>Upload Data to ArtsAPI</h3>

    <% if UploadClient.current_user_has_auth_code? %>
      <%= render 'file_location_form' %>
      <%# render 'process_data_form' %>
    <% else %>
      <%= render 'authorization_form' %>
    <% end %>
  </div>
</div>